@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,700|Poppins:200,300,400,500,600,700|Roboto:300,400,500,700");

body {
    font-family: "Roboto";
    overflow: hidden;
}

html,body{
    height: 100vh;
}
.sidebar{
    height: 100%;
    width: 70px;
    background-color: #111;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.5s;
    padding-top: 7px;
    white-space: nowrap;
    overflow-x: hidden;
    box-shadow: 5px 0 20px#818181;
}

.sidebar a{
    padding: 0 8px 0 22px;
    text-decoration: none;
    font-size: 1rem;
    color: #818181;
    display: block;
}

.sidebar a:hover{
    color: #f1f1f1;

}
.sidebar a:active{
    color: #FAB700;
}
.user-underline{
    background-color: #6e6e6e;
    margin-top: -15px;
    width: 100%;
    position: absolute;
    z-index: 0;
}

.admin-div{
    border-bottom: 1px solid #6e6e6e;
    height: 43px;
    padding-bottom: 1px;
    margin-bottom: 10px;
    padding-top: 6px;
}

.rest-of-elements{
    padding-top: 10px;
}
main .sidebar{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.material-icons, .icon-text{
    vertical-align: middle;
}

.material-icons {
    padding-bottom: 3px;
    margin-right: 30px
}

#main {
    transition: margin-left 0.5s; 
    padding: 16px;
    margin-left: 70px;
    background-color: #f4f6f9;
    height: 100vh;
}

.wrapper-dashboard{
    height: 100vh;
}

.sidebar a:first-child{
    padding-top: 0;
    padding-bottom: 0;
}
.sidebar a:nth-child(3){
    color: #FAB700;
}
.user-underline-extended{
    background-color: #6e6e6e;
    margin-top: 68px;
}

.top-area{
    height: 45px;
    margin-top: 5px;
    border-bottom: 1px solid #6e6e6e;
}

.logout-btn{
    float: right;
    position: absolute;
    top: 5px;
    right: 5px;
}


.bars-left{
    margin-top: 10px;
    transition: 0.5s;
    border: none;
    background-color: transparent;
    outline: #f1f1f1;
}
#left-bar{
    margin-left: 85px;
}
.bars-left:focus{
    outline: none;
}

.logout-btn:focus{
    border: none;
}

.button-div{
    text-align: center;
}


@media only screen and (max-height: 560px) {
    body {
      overflow: scroll;
    }
    .button-div button{
        margin-top: 10px;
    }
  }

/* @media screen and (max-height: 450px) {
    .sidebar {
      padding-top: 15px;
    }
    .sidebar a {
      font-size: 18px;
    }
    .top-area{
        padding-top: 15px;
    }
    body{
        font-size: 18px;
    }

}  */